<div class="main-content">

          <ngui-map zoom="13" center="40.748817,-73.985428" style="margin-top:60px;height: 100%; width: 100%; position: absolute;top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);">
              <marker [position]="[40.748817,-73.985428]"></marker>
          </ngui-map>

</div>
